<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="morpher" type="Morpher.AppConfig.ConfigurationSectionHandler, Morpher.AppConfigFactory" /></configSections>
  <connectionStrings>
    <add name="AutovauxContext" connectionString="metadata=res://*/AutovauxModel.csdl|res://*/AutovauxModel.ssdl|res://*/AutovauxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql6031.site4now.net;initial catalog=db_aa58b9_autovoc;persist security info=True;user id=db_aa58b9_autovoc_admin;password=qwerty27.99;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoVauxLauncher.Properties.Settings.sqlconn" connectionString="Data Source=sql6031.site4now.net,1433;Initial Catalog=db_aa58b9_autovoc;User Id=db_aa58b9_autovoc_admin;Password=qwerty27.99;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            
           
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
<morpher>
    <objects>
      <add name="WebServiceClient" type="Morpher.WebService.V2.Client, Morpher.WebService.V2">
        <!-- Не забудьте сменить логин и пароль на свои: http://morpher.ru/Register.aspx -->
        <parameters url="http://morpher.ru/WebService.asmx" username="vasily_p" password="secret" />
      </add>
    </objects>
    <interfaces>
      <add object="WebServiceClient" interface="Morpher.Russian.IDeclension, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Ukrainian.IDeclension, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Russian.INumberSpelling, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Ukrainian.INumberSpelling, Morpher.API" />
    </interfaces>
  </morpher></configuration>
